.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(23, 22, 22, 0.7);
  z-index: 0;
  /* width: 500px;
  height: 1500px; */
  /* object-fit: cover; */
}
